{
	email jonas.r.keller@gmail.com

	log access {
		output file /var/log/caddy/access.log 
	}
	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CROWDSEC_API_KEY}
		appsec_url http://crowdsec:7422
    }
}

(block_external) {
	@is_external {
		not remote_ip {$HOME_NETWORK}
	}
	abort @is_external
}

nextcloud.{$DOMAIN} {
    log access
	route {
		crowdsec
		appsec
		reverse_proxy {$HOST_IP}:30027
	}
}
{$OLD_NEXTCLOUD_DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		redir https://nextcloud.{$DOMAIN}{uri} permanent
	}
}

jellyfin.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		reverse_proxy jellyfin:8096
	}
}
seerr.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		reverse_proxy seerr
	}
}
jellyseerr.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		redir https://seerr.{$DOMAIN}{uri} permanent
	}
}
jellyseer.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		redir https://seerr.{$DOMAIN}{uri} permanent
	}
}
audiobookshelf.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		reverse_proxy audiobookshelf
	}
}
librespeed.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		reverse_proxy librespeed:8080
	}
}
hortusfox.{$DOMAIN} {
	log access
	route {
		crowdsec
		appsec
		reverse_proxy hortusfox
	}
}
adguardhome.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		reverse_proxy adguardhome
	}
}
adguard-home.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		redir https://adguardhome.{$DOMAIN}{uri} permanent
	}
}
truenas.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		reverse_proxy {$HOST_IP}:81
	}
}
dockge.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		reverse_proxy dockge:5001
	}
}
qbittorrent.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		reverse_proxy qbittorrent_vpn
	}
}
paperless.{$DOMAIN} {
	log access
	route {
		import block_external
		crowdsec
		appsec
		reverse_proxy paperless:8000
	}
}
