{
	email jonas.r.keller@gmail.com
}

(block_external) {
	@is_external {
		not remote_ip {$HOME_NETWORK}
	}
	abort @is_external
}

nextcloud.{$DOMAIN} {
	reverse_proxy {$HOST_IP}:30027
}
{$OLD_NEXTCLOUD_DOMAIN} {
	redir https://nextcloud.{$DOMAIN}{uri} permanent
}

jellyfin.{$DOMAIN} {
	reverse_proxy jellyfin-jellyfin-1:8096
}
seerr.{$DOMAIN} {
	reverse_proxy seerr-seerr-1
}
jellyseerr.{$DOMAIN} {
	redir https://seerr.{$DOMAIN}{uri} permanent
}
jellyseer.{$DOMAIN} {
	redir https://seerr.{$DOMAIN}{uri} permanent
}
audiobookshelf.{$DOMAIN} {
	reverse_proxy audiobookshelf-audiobookshelf-1
}
adguardhome.{$DOMAIN} {
	import block_external
	reverse_proxy adguardhome-adguardhome-1
}
adguard-home.{$DOMAIN} {
	redir https://adguardhome.{$DOMAIN}{uri} permanent
}
truenas.{$DOMAIN} {
	import block_external
	reverse_proxy {$HOST_IP}:81
}
dockge.{$DOMAIN} {
	import block_external
	reverse_proxy dockge-dockge-1:5001
}
qbittorrent.{$DOMAIN} {
	import block_external
	reverse_proxy qbittorrent-vpn-1
}
