[Interface]
PrivateKey = ${WG_PRIVATE_KEY}
Address = ${WG_ADDRESS}

PostUp = /ifscript.sh %i up
PreDown = /ifscript.sh %i down

[Peer]
PublicKey = ${WG_GATEWAY_PUBLIC_KEY}
PresharedKey = ${WG_PRESHARED_KEY}
AllowedIPs = 0.0.0.0/0
Endpoint = ${DOMAIN}:51821
PersistentKeepalive = 25
